.render {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem;
  color: hsl(210 40% 88%);
  background: hsl(212 28% 10%);
  overflow: hidden;
}

.render__logo {
  width: 30rem;
  max-width: 50%;
}

.render__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.render__hero-title {
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}

.render__hero-subtitle {
  font-size: 3rem;
  text-align: center;
}

.render__docs-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.render__docs-information-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.render__docs-information-text {
  font-size: 2rem;
  max-width: 60rem;
  text-align: center;
}

.render__docs-information-button {
  display: flex;
  align-items: center;
  background: rgb(248, 180, 53);
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
