* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
}

.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  font: San Francisco, sans-serif;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  color: #fff;
}

.left {
  flex: 2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city {
  font-size: 48px;
  font-weight: 10;
}

.datetime {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.time {
  font-size: 28px;
}
.date {
  font-size: 20px;
}

.current {
  display: flex;
  align-items: center;
}

.temp {
  font-size: 96px;
  font-weight: 100;
}
.current .icon {
  font-size: 100px;
}

.today {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.today .icon,
.day .icon {
  font-size: 96px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.forecast {
  flex: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 60px 0;
}

.label {
  font-size: 22px;
  opacity: 0.9;
}
.hi {
  font-size: 28px;
  font-weight: 100;
}
.lo {
  font-size: 24px;
  opacity: 0.7;
}
