* {
  box-sizing: border-box;
}

html {
  font-size: 1vmax;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
